*{
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 150px;
    left: 45vw;
}

.fdiv {
    background: darkmagenta;
    color: lightgray;
    height:100px;
    width: 100px;
}

@media screen and (max-width: 480px){
    .fdiv {
        background: teal;
        color: white;                        
    }
}

@media screen and (min-width: 768px){
    .fdiv {
        background: darkblue;
        color: lightgoldenrodyellow;
    }
}

@media screen and (min-width: 1024px){
    .fdiv {
        background: black;
        color: white;
    }
}